In [1]:
import pandas as pd

In [5]:
train_data = pd.read_csv('data/data_train.csv')

In [6]:
train_data['labels'] = pd.factorize(train_data['labels'])[0]
train_data.head()

                                                text  labels
0  a haul truck driver parked the truck on a moun...       0
1  employee stated he went to step off of crosswa...       1
2  employee was throwing highline on a car when e...       0
3  when getting out of jeep he said his ankle rol...       1
4  roof bolting and pulled lever and canopy did n...       0

In [7]:
train_data.to_csv("data/train.csv", index=None)

In [10]:
test_data = pd.read_csv('data/data_test.csv')

In [11]:
test_data['labels'] = pd.factorize(test_data['labels'])[0]
test_data.head()

                                                text  labels
0  he was putting a battery in a grader and strai...       0
1  men were welding on the bin when an explosion ...       0
2  employee stated on thursday  morning they deve...       0
3  injured was carrying crib blocks when he tripp...       1
4  employee was exiting a roof bolting machine wh...       1

In [12]:
test_data.to_csv("data/test.csv", index=None)